{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}

    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body class="" style="overflow-x: hidden;">

    {% block content %}{% endblock content %}
    <a 
        href="https://wa.me/+2348025777451?text=Hello!%20I%20saw%20your%20website%20and%20I%20have%20a%20question."
        target="_blank" 
        rel="noopener noreferrer"
        class="fixed bottom-8 right-8 z-50 p-3 px-6
        rounded-full bg-[#25D366] shadow-lg hover:bg-[#1DA851] transition-colors text-white
        flex items-center gap-2 rtl:space-x-reverse hover:underline
        "
    >
        <img src="{% static 'icons/whatsapp-icon.svg' %}" alt="WhatsApp" class="w-8 h-8 text-white">
        Chat with us
    </a>
    <script src="{% static 'js/flowbite.min.js' %}"></script>
</body>
</html>