{% extends "base.html" %}
{% load static %}
{% load image_optimizer %}

<title>Contact Us | Deltech</title>

{% block content %}
{% include "components/navbar.html" %}

<header class="h-[490px] flex justify-center items-center relative">
    <div class="absolute inset-0 bg-[#B1F20E80] opacity-50 z-10"></div>
    {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/page-header.png"' 'alt="About Us Background"' 'class="absolute inset-0 w-full h-full object-cover"' %}
    <h1 class="relative text-white text-7xl font-medium z-20">Contact Us</h1>
</header>

<section class="mx-auto px-4 my-28 md:my-32 md:mb-60">
    <h2 class="text-5xl md:text-6xl text-center">
        Drop a <span class="text-custom-blue">Mail</span>
    </h2>

    <div class="max-w-3xl mx-auto">
        <input type="email" 
            class="w-full ps-11 pe-4 py-3 mt-6 border-2 border-custom-blue rounded-[10px]" 
            placeholder="Enter email address..."
        >
        <textarea 
            class="w-full ps-11 pe-4 py-3 mt-12 border-2 border-custom-blue rounded-[10px]" 
            name="" id="" placeholder="Write your message....." cols="30" rows="10"></textarea>

        <button class="btn w-full bg-custom-blue text-white rounded-[10px] py-4 mt-7">Send</button>
    </div>
</section>

{% include "components/footer.html" %}
{% endblock content %}
