{% extends "base.html" %}
{% load static %}
{% load image_optimizer %}

{% block content %}
{% include "components/navbar.html" %}

<section class="max-w-screen-xl mx-auto px-4 py-24 md:py-28">
    <div class="grid md:grid-cols-3 gap-y-14 gap-x-14 md:gap-y-28">
        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/indeed.png"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Indeed Jobs</h3>
            <a href="https://www.indeed.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>

        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/fiverr-jobs.jpg"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Fiverr Jobs</h3>
            <a href="https://www.fiverr.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>

        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/upwork-jobs.jpg"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Upwork Jobs</h3>
            <a href="https://www.upwork.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>

        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/glass-door.png"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Glassdoor Jobs</h3>
            <a href="https://www.glassdoor.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>

        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/google.png"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Google Jobs</h3>
            <a href="https://careers.google.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>

        <div class="space-y-2 md:space-y-4">
            {% optimized_image 'loading="lazy"' 'decoding="async"' 'src="images/jobs/jobber-man.png"' 'class="w-full"' %}
            <h3 class="text-3xl font-bold font-inter">Jobberman Jobs</h3>
            <a href="https://www.jobberman.com/" target="_blank" class="flex w-fit gap-1 border-[1.5px] border-custom-blue px-3 py-4 items-center">
                <img src="{% static "images/svg/apply-icons.svg" %}" />    
                Apply Now                
            </a>
        </div>
    </div>
</section>

{% include "components/footer.html" %}

{% endblock %}